.anchor {
    display: none;
}

body {
    font-family: Palatino;
    line-height: 3ex;
    --secondary-background-color: white;
}

.mermaid {
    line-height: 2ex !important;
}

body,
main {
    width: 100%;
}

.markdown-body {
    padding: 0 20px;
    margin-top: 80px;
    max-width: 900px;
}

#page-header {
    display: none;
}

p {
    margin: 0;
    text-align: justify;
}

pre,
code {
    font-size: 14px;
    font-family: Menlo;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
pre {
    margin-bottom: 1ex !important;
}

h1 {
    font-size: 26px;
    border: none !important;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 0;
}

h1 code {
    font-size: 25px;
}

h2 {
    font-size: 22px;
}

h2 code {
    font-size: 21px;
}

h3 {
    font-size: 20px;
}

h3 code {
    font-size: 19px;
}

h4 code,
h5 code,
h6 code {
    font-size: 16px;
}

h4,
h5,
h6,
p,
.katex,
li {
    font-size: 16px !important;
}

h4 {
    color: #222222;
}

h5 {
    color: #444444;
}

h6 {
    color: #888888;
}

h2:before,
h3:before,
h4:before,
h5:before,
h6:before {
    content: "#";
    font-family: Hervetica;
    text-align: right;
    color: #bb2222;
    position: absolute;
    margin-left: -12px;
    margin-top: -1px;
}

pre {
    padding: 2px 5px !important;
    border-radius: 2px;
    margin-top: 0;
    margin-bottom: 0;
    overflow-x: auto;
}

table {
    display: inline-block;
    text-align: center;
    max-width: 100%;
    font-size: 15px;
    overflow: auto;
    border-collapse: collapse;
    border-spacing: 0;
    border-bottom: 2px solid;
}

table thead {
    border-top: 2px solid;
    border-bottom: 1px solid;
}

table tr td {
    padding: 0px 10px;
    vertical-align: top;
    white-space: nowrap;
}

table tr th {
    padding: 0px 10px;
    vertical-align: top;
    white-space: nowrap;
}

table th {
    color: #000;
}
